          .tn-hhapp-bx-bpx {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #fff;
			-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
			-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
			box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
			margin-bottom: 10px;
			display: block;
			text-align: center;
			overflow: hidden;
			transition: All 0.2s ease;
			-webkit-transition: All 0.2s ease;
			-moz-transition: All 0.2s ease;
			-o-transition: All 0.2s ease;
			text-align: center;
			}
            .download {
                float: left;
               /* background: url('http://playboyviet.com/public/m.front/images/icon_download.png') left 5px no-repeat;*/
                padding-left: 45px;
                text-transform: uppercase;
                border:#CCC solid 1px;
				
              
            }

            .input-group-btn:last-child>.btn {
                margin-left: -1px;
            }
             .download a.apple {
                background: url('http://playboyviet.com/public/m.front/images/icon_apple.png');
            }
             .download a {
                width: 50px;
                height: 50px;
                display: block;
                float: left;
                margin-top: 3px;
            }
            a {
                color: #272727;
                cursor: pointer;
            }
            .pull-left {
				float: left !important;
				margin-top: 5%;
				font-weight: bold;
				color: rgb(190, 22, 22);
				}
             .download a.android {
                background: url('http://playboyviet.com/public/m.front/images/icon_android.png');
            }
             .download a.window {
                background: url('http://playboyviet.com/public/m.front/images/icon-window.png');
            }

             .download a.android:hover 	{ background:url('http://playboyviet.com/public/m.front/images/icon_android_on.png'); }
             .download a.apple:hover 		{ background:url('http://playboyviet.com/public/m.front/images/icon_apple_on.png');}
             .download a.window:hover 		{ background:url('http://playboyviet.com/public/m.front/images/window-hover.png');}
       