<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^eshopalataca09.freemobiweb.mobi$ [OR] 
RewriteCond %{HTTP_HOST} ^www.eshopalataca09.freemobiweb.mobi$ 
RewriteRule (.*)$ http://freemobiweb.mobi/eshopalataca09$1 [R=301,L] 
</IfModule>
