#header{
	width:0px !important;
	min-height:60px !important;
	
}
#logo{
	margin-left:0px !important;
	left:-400px !important;
}
#headerContent{
	max-width:500px !important;
	
}



@media (min-width:900px){
	
	
}
@media (max-width:1280px);{

	
}
@media (max-width:1024px);{
	#page{
	width:1024px !important;
}
	#headerContent {
	margin-left:0px !important;
	padding-right:0px !important;
	left:-1000px !important;
	font-size:5px !important;
	color:red !important;
	}
}
@media (max-width:980px){
	
}
@media (max-width:800px){
	#headerContent{
	margin-right:0px !important;
	padding-right:0px !important;
	left:-100px !important;
	
}
#logo{
	left:-350px !important;
}
#page{
	width:800px !important;
}
#content{
	width:800px !important;
}
	#leftColumn{
		width:165px !important;
	}
	.moduleBlock{
		margin-left:0px !important;
		padding:0px 0px 0px 10px !important;
	}
	#wizardButtons{
		margin-right:0px !important;
		padding-right:0px !important;
		width:500px !important;
	}
	#buttonToRight{
		left:-1000px !important;
		margin-left:0px !important;
	}
	#footer, #footerCopyrights{
	width:800px !important;
}
#rightContent{
	width:600px !important;
	
}
#headerContent{
	margin-right:0px !important;
	padding-right:0px !important;
	left:-120px !important;
	font-size:15px !important;
}
@media (max-width:768px){
	#page{
	width:768px !important;
}
#content{
	width:768px !important;
}
#leftColumn{
		width:150px !important;
	}
	.moduleBlock{
		margin-left:0px !important;
		padding:0px 0px 0px 10px !important;
		/*width:150px !important;*/
	}
	#rightContent{
	width:600px !important;
	margin-left:15px !important;
	
}
#footer, #footerCopyrights{
	width:768px !important;
}
@media (max-width:640px){
	
	
}
@media (max-width:600px){
	
	
}
@media (max-width:480px){
	#page{
	width:480px !important;
}
	#headerContent{
		top:110px !important;
		left:-200px !important;
		width:480px !important;
		
	}
	#logo{
		left:-100px !important;
	}
	#headerContent h1{
		color:#000 !important;
		font-size:40px !important;
		width:480px !important;
		padding:0px !important;
	}
	#header{
		background:none 1important;
		
	}
	#content{
		margin-top:80px !important;
		width:480px !important;
		margin-left:0px !important;
	}
	#leftColumn{
		width:170px !important;
		margin-left:70px !important;
	}
	.moduleBlock{
		margin-left:60px !important;
		padding:0px 0px 0px 10px !important;
		width:300px !important;
	}
	#footer, #footerCopyrights{
	width:480px !important;
}
#wizardButtons{
		margin-right:0px !important;
		padding-right:0px !important;
		width:400px !important;
	}
}
@media (max-width:320px){
	
}