#headerIllustration{
	background-size:100% !important;
	
}
#firstWrapper{
	
	width:100% !important;
}
.book-content .content{
	margin-left:0px !important;
	padding-left:0px !important;
}
.homepageArea{
	padding-left:0px !important;
	
}

@media (max-width:1280px);{
	
	.single{
		width:800px !important;
	}
	
}
@media (max-width:1024px);{
	
	
	
}
@media (max-width:980px){
	#headerIllustration{
		width:100% !important;
	
	}
	#firstWrapper{
	
	width:800px !important;
}
	.single{
		width:600px !important;
		font-size:13px;
	}
}
@media (max-width:800px){
	#firstWrapper{
	
	width:83% !important;
}
	}
@media (max-width:768px){
	#content{
		width:768px !important;
	}
	#headerForms form{
		margin-right:260px !important;
		margin-top:350px;
	}
	.single{
		margin:0px 100px 0px 0px  !important;
		font-size:14px !important;
		top:60px !important;
	}
	#header{
		min-height:850px !important;
		margin-bottom:0px !important;
	}
	#headerIllustration{
		width:768px !important;
		margin-left:170px !important;
		background-size:100% !important;
	}
	#firstWrapper{
	
	width:90% !important;
	margin-left:30px;
   }
   #threeBlocks{
   	width:768px !important;
   	min-height:200px !important;
   	float:left !important;
   	margin-bottom:150px !important;
   	border: none;
   }
   #firstBlock {
   	width:768px !important;
   	min-width:0px  !important;
   }
  
	.homepageArea{
	width:80% !important;
	background-size:100% !important;
	margin-left:100px !important;
	}
	.homepageArea:first-child{
	margin-left:130px !important;
	}
	.book-content{
		width:200px !important;
		height:350px !important;
		margin-left:15px !important;
		margin-right:0px !important;
		 background:-webkit-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-moz-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-ms-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-o-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  border:1px solid #ccc;
		  border-radius:15px;
	}
	.book-content:first-child{
		margin-right:20px !important;
		
	}
	.book-content h2{
	min-height:100px !important;
	font-size:20px !important;
	}
	.book-content .content{
		min-height:150px !important;	
	}
	#footer .top, .bottom{
		width:100% !important;
		min-width:0px !important;
	}
	
	#footer .top{
		background:#f00 !important;
		display:block !important;
		width:768px !important;
	
	}
	#footer .top .content{
		width:768px !important;
		height:550px !important;
		float:left !important;
		background:#444444 !important;
		background-size:100% !important;
		
	}
	#footer .column:first-child{
		margin-left:30px !important;
	}
	#footer .bottom{
		float:left !important;
		width:768px !important;
	}
	#footer .bottom .content{
		width:768px !important;
		background:none !important;
		border:none;
		float:left !important;
	}
	#footer .bottom .content .logo{
		margin-left:50px !important;
	}
	#footer .bottom .content .credits{
		margin-right:250px !important;
	}
	#language_list{
		width:768px !important;
		height:400px !important;
		margin-top:205px !important;
		margin-right:100px !important;
	}
	#language_list .column {
		width:200px !important;
	}
	#language_list .handle{
		margin-right:30px !important;
	}
}
@media (max-width:640px){
	#headerForms form{
		margin-right:500px !important;
		margin-top:350px;
	}
	.single{
		margin:0px 400px 0px 0px  !important;
		font-size:12px !important;
	}
	#firstWrapper{
	
	width:65% !important;
	}
	.homepageArea{
	width:81% !important;
	}
	
	.book-content{
		width:570px !important;
		margin-bottom:15px !important;
		 background:-webkit-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-moz-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-ms-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-o-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  border:1px solid #ccc;
		  border-radius:15px;
		  margin-left:15px !important;
	}
	.book-content:first-child{
		margin-left:0px !important;
		margin-top:0px !important;
	}
	#headerIllustration{
		margin-left:100px !important;
		background-size:100% !important;
	}
	#footer .top{
		background:#f00 !important;
		float:left;
		
	}
	#footer .top .content{
		width:600px !important;
		height:600px !important;
		float:left !important;
		margin-left:100px !important;
		
	}	
}
@media (max-width:600px){
	#firstWrapper{
	
	width:60% !important;
	}
	.homepageArea{
	width:70% !important;

	}

	.book-content{
		width:500px !important;
		margin-bottom:15px !important;
		 background:-webkit-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-moz-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-ms-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  background:-o-linear-gradient(top, #ffffff 70%,  #cccccc) !important;
		  border:1px solid #ccc;
		  border-radius:15px;
	}
	
}
@media (max-width:480px){
	.row{
		width:480px !important;
	}
	.container{
		width:480px !important;
	}
	#content{
		width:480px !important;
		margin-left:0px !important;
	}
	#header{
		width:480px !important;
		background:#444444 !important;
		min-height:700px !important;
		margin:0px !important;
		padding:0px !important;
	}
	#watchVideo{
	 left:230px !important;
	 top:30px !important;
	
	}
	#headerIllustration{
		width:480px !important;
		margin-left:170px !important;
		float:left !important;
		
	}
	.single{
		margin:0px 100px 0px 0px  !important;
		font-size:9px !important;
		top:70px !important;
	}
	#headerForms form{
		margin-right:150px !important;
		margin-top:150px !important;
		background:#444444 !important;
	}
	#threeBlocks{
   	width:480px !important;
   	float:left !important;
   	margin-left:15px !important;
   	border: none;
   }
	
	.book-content{
		width:400px !important;
		height:250px !important;
		margin-bottom:15px !important;
		float:left !important;
		margin-left:20px !important;
		 
	}
	.book-content h2{
	min-height:50px !important;
	font-size:20px !important;
	}
	.book-content .content{
		min-height:100px !important;	
	}
	.homepageArea{
	width:480px !important;
	background-size:100% !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding:0px !important;
	display:block;
	}
	.homepageArea:first-child{
	margin-left:20px !important;
	}
	.homepageArea:last-child{
	margin-left:0px !important;
	padding:0px !important;
	}
	#homepageBlock{
		width:480px !important;
		margin:400px 0px 0px 0px !important;
		display:block !important;
		float:left !important;
	}
	 #firstBlock {
   	width:480px !important;
   	min-width:0px  !important;
   	border:none;
   }
	#firstWrapper{
	
	width:460px !important;
	margin:0px !important;
	padding:0px !important;
	}
	#footer .top{
	width:480px !important;
		min-width:0px !important;
	
	}
	#footer .languages{
		width:480px !important;
	}
	#footer .top .content{
		width:480px !important;
		height:620px !important;
		margin-left:0px !important;
		padding-left:0px !important;
		float:left !important;
	}	
	#footer .column{
		width:200px !important;
	}
	#footer .column:first-child{
		margin-left:0px !important;
	}
	#footer .bottom{
	
		width:480px !important;
		display:block !important;
	}
	#footer .bottom .content{
		width:480px !important;
		background:#333 !important;
		border:none;
		float:left !important;
		margin-top:240px !important;
		height:70px !important;
		
	}
	#footer .bottom .content .logo{
		margin-left:5px !important;
	}
	#footer .bottom .content .credits{
		border-top:1px solid #ccc;
		margin-right:50px !important;
	}
	#language_list{
		width:480px !important;
		margin-top:5px !important;
		background:#000 !important;
		top:12px !important;
	}
	#language_list .handle{
		margin:5px 20px 0px 0px !important;
	}
	#footer #language_list .languages{
		height:550px !important;
		margin-bottom:20px !important;
	}
}
@media (max-width:320px){
	.row{
		width:320px !important;
	}
	
	.container{
		width:320px !important;
		padding:0px !important;
		margin:0px !important;
		
	}
	#content{
		width:320px !important;
		margin-left:0px !important;
	}
	#watchVideo{
		left:100px !important;
	
	}
	#header{
		width:330px !important;
		background:#444444 !important;
		min-height:500px !important;
		margin:0px !important;
		padding:0px !important;
	}
	#headerIllustration{
		width:320px !important;
		height:300px !important;
		margin-left:170px !important;
		float:left !important;
		
	}
	.single{
		margin:0px 700px 0px 0px  !important;
		font-size:6px !important;
		top:60px !important;
		float:left !important;
	}
	#headerForms form{
		margin-right:30px !important;
		margin-top:20px !important;
		background:#444444 !important;
	}
	#threeBlocks{
		width:320px !important;
		
	}
	.book-content:first-child{
	margin-left:15px !important;
	}
	.book-content{
		width:250px !important;
		height:250px !important;
		margin-bottom:15px !important;
		margin-left:30px !important;
		 
	}
	.book-content h2{
	min-height:50px !important;
	font-size:18px !important;
	}
	
	#homepageBlock{
		width:320px !important;
		
	}
	.homepageArea{
	width:270px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	display:block;
	}
	.homepageArea h4{
		font-size:20px !important;
	}
	.homepageArea p{
	
	font-size:12px !important;
	}
	#firstWrapper{
	
	width:300px !important;
	margin:0px !important;
	padding:0px !important;
	}
	#footer{
		float:left !important;
		width:300px !important;
		
	}
	#footer .top{
		background:#000 !important;
		width:320px !important;
		min-width:0px !important;
		
	}
	#footer .top .content{
		width:320px !important;
		min-height:1070px !important;
		margin-left:0px !important;
		float:left !important;
		min-width:0px !important;
		
	}
	#footer .column:first-child{
			margin-left:30px !important;
	}	
	#footer .column{
		width:250px !important;
		margin-left:30px !important;
		margin-right:0px !important;
		
		
	}
	#footer .bottom{
	
		width:320px !important;
		float:left !important;
		display:block !important;
		bottom:0px !important;
		min-width:0px !important;
	}
	#footer .bottom .content{
		width:320px !important;
		background:#333 !important;
		border:none;
		float:left !important;
		margin-top:695px !important;
		height:150px !important;
		min-width:0px !important;
		
	}
	#footer .bottom .content .logo{
		margin-left:100px !important;
	}
	#footer .bottom .content .credits{
		border-top:1px solid #ccc;
		margin-right:60px !important;
	}
	#language_list{
		width:480px !important;
		margin-top:5px !important;
		background:#000 !important;
		top:12px !important;
	}
	#language_list .handle{
		margin:5px 0px 0px 0px !important;
	}
	#footer #language_list .languages{
		height:550px !important;
		margin-bottom:20px !important;
	}
}