/* couleur texte gris clair  #919090  */
/* couleur texte gris  #605D5E   */
/* Couleur bleu texte  #1F88D4 */

.first-section {
    background-image: url(../images/main/wood-slider.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.first-section h1, .first-section .subtitle {
    color: #FFFFFF;
    line-height: 1.25;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 2.8em;
    font-weight: 300;
    margin-top: 0%;
}

.first-section h1 {
    font-size: 3em;
    margin-top: 9%;
}


@media (max-width: 767px) {

    .first-section h1 {
        margin-top: 8%;
        font-size: 2.0em;
    }
    .first-section .subtitle {
        font-size: 1.5em;
        margin-top: 5%;
        line-height: 1;
    }

    .first-section #signUp-button {
        width: 60%;
        margin-left: 20%;
    }
}

.first-section .ipad-slider {
    position:absolute;
    width: 48%;
    bottom: 0;
    max-width: 630px;
}


/* Carousel / Slider - text  */

@media (min-width: 768px) {
    #badge-CTA {
        background-image: url(../images/home/badge-slider.png);
        background-repeat:no-repeat;
        background-size: 223px 387px;
        /*height: 479px;*/
        height: 450px;
        width: 258px;
    }
}

.carousel {
    position: relative;
    margin-bottom: 0px;
    line-height: 1;
}


@media (min-width: 768px) {
    #badge-CTA a {
        margin-left: 17px;
        margin-top: 28px;
    }
}

#badge-CTA p:first-child {
    margin-top: 165px;
}

#badge-CTA p {
    color: black;
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 30px;
}



/* Content */



/*
 * Testimony block
 */

#testimony-block {
    box-shadow: 0px -2px 2px rgba(255, 250, 250, 0.20);
}

#testimonyCarousel {
    margin-bottom: 0!important;
}

#testimonyCarousel .carousel-inner .testimony-name p {
    color: #919090;
}


.testimony-image img {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    border: 1.5px solid white;
    border-radius: 4px 4px 4px 4px;
}


/*
 *  First text block - TacTill
 */


#tactill-block #available-image img{
    margin-top: -40px;
}


/*
 *  Second text block - cash register / till
 */

#till-block {
    padding-bottom: 30px;
}

#till-block #text-grid {
    margin-top: 20px;
}


/* Design btn radio - active, focus ... */

#till-block .btn-group button.btn {
    height: 45px;
    min-width: 59px;
}
#till-block .btn-group button.btn:focus {
    height: 45px;
    min-width: 59px;
    background: white;
}

#till-block .btn-group button.btn:focus,
#till-block .btn-group button.btn.active,
#till-block .btn-group button.btn.disabled,
#till-block .btn-group button.btn[disabled] {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


#till-block .btn-group button.btn:focus,
#till-block .btn-group button.btn.active,
#till-block .btn-group button.btn.disabled,
#till-block .btn-group button.btn[disabled] {
    background-color: #1F88E0;
    background-image: linear-gradient(to bottom, #56A5FD, #1F88D4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}



#tillCarousel .carousel-indicators {
    list-style: none outside none;
    margin: 0;
    position: absolute;
    right: 35%;
    top: 85%;
    z-index: 5;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 7px 7px 7px 7px;
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    text-indent: -999px;
}



#slider-app {
    margin-bottom: 10px;
}



/*
 *  Third text block - BackOffice
 */




/*
 *  Press block
 */

#press-block {
    background-color: #F1F1F2;
    padding-top: 15px;
    padding-bottom: 15px;
}




/*
 *  Social block
 */

#facebook-box-title {
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px solid #E8E6E6;
    border-radius: 0 6px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #919090;
    background-color: white;
}

.fb-like-box {
    background-color: white;
    box-shadow: 1px 1px 2px black;
    border-radius: 0 6px 6px 0;
}

.linen-back p {
    color: white;
}

.placeholder { color: #d0d0d0; }
::-webkit-input-placeholder { color: #d0d0d0; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #d0d0d0; }



#social-block .fb-like-box iframe {
    min-height: 400px;
}


/* Design form de contact */
#social-block form input {
    height: 100%;
    width: 85%;
    padding: 12px;
}

#home-page #social-block textarea#tactill_message_message
{
    width: 85%;
    height: 100px;
}
/* FIN form */

#social-block input, #tacteam-block textarea {
    border-radius: 6px;
}

#social-block form .field li {
    color: #f00000;
    font-size: 0.9em;
}


@media (max-width: 767px) {
    #social-block form input {
        width: 80%;
    }
    #home-page #social-block textarea#tactill_message_message {
        width: 77%;
        min-height: 70px;
        margin-left: 2.25%;
    }
}


#CTA-block {
    border: none;
}
